@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  font-size: 18px;
  display: grid;
  align-items: center;
  background-color: #e5e5e5;
  padding: 30px 0;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

@media (max-width: 550px) {
  body {
    padding: 0;
    min-width: fit-content;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 680px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}
