.Header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 30px;
  position: relative;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: context-menu;
}

.logo .logo-icon {
  margin-right: 5px;
  width: 29px;
}

.logo .logo-text {
  color: #00abca;
  font-weight: 700;
  font-size: 22.2535px;
  line-height: 27px;
  letter-spacing: -0.05em;
}

.toggle-container {
  display: flex;
  gap: 6.65px;
  align-items: center;
  cursor: context-menu;
}

.toggle-icon {
  font-weight: 600;
  font-size: 18px;
  line-height: 110%;
}

.light-icon {
  color: #2b283a;
}

.dark-icon {
  color: #918e9b;
}

.toggle-btn {
  display: flex;
  align-items: center;
  width: 34px;
  padding: 0 2px;
  height: 20px;
  background-color: #2b283a;
  border-radius: 40px;
  cursor: pointer;
}

.toggle-circle {
  width: 15.5px;
  height: 15.5px;
  background-color: #fff;
  border-radius: inherit;
}

.Header.dark {
  background-color: #21222a;
}

.Header.dark .logo .logo-text {
  color: #61dafb;
}

.Header.dark .toggle-btn {
  justify-content: flex-end;
  background-color: #f5f5f5;
}

.Header.dark .toggle-circle {
  background-color: #222222;
}

.Header.dark .light-icon {
  color: #918e9b;
}

.Header.dark .dark-icon {
  color: #fff;
}

@media screen and (max-width: 479px) {
  .Header {
    padding: 20px 15px;
    padding-top: 25px;
  }
}
