.question-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 15px 0;
  border-bottom: 2px solid #dbdef0;
  z-index: 1000;
}

.question {
  color: #293264;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.option-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.option {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #293264;
  padding: 5px 15px;
  background-color: transparent;
  border: 2px solid #4d5b9e;
  transform: none !important;
  transition: all 150ms linear;
}

.selected,
.option:hover {
  background-color: #d6dbf5;
  border-color: transparent;
}

.correct {
  background-color: #94d7a2 !important;
}

.incorrect {
  opacity: 0.75;
  background-color: #f8bcbc !important;
}

.correct,
.incorrect {
  border: none;
}
