.footer {
  @include flex(space-evenly);
  background-color: #161619;
  padding: 20px 10px;
  margin-top: 10px;

  .footer__link {
    font-size: 35px;
    color: #918e9b;

    @include responsive_small {
      font-size: 30px;
    }
  }
}
